html,
body{
    width:100%;
    height:100%;
    min-height:100%;
    margin:0 auto;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
    word-wrap:break-word;
}

.pageContainer{
    width:100%;
    min-width:320px;
    height:100%;
    margin:0;
    padding:0;
    display:grid;
    grid-template:  "head head" 100px
                    "content  content" 1fr
                    "foot  foot" 50px
                    / 120px 1fr;
}

.head{
    grid-area: head;
    width:100%;
    margin:0 auto;
}

.content{
    grid-area: content;
    text-align:center;
    margin:50px auto;
    width:100%;
}

.foot{
    grid-area: foot;
    text-align:center;
    margin:0 auto;
    width:100%;
    height:50px;
    background:#2C3E50;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:white;
    align-items:center;
    z-index:99999999;
    position:fixed;
    bottom:0;
    left:0;
}

.foot p{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:16px;
}

.foot p a{
    text-transform:uppercase;
    color:mediumturquoise;
}



.content form{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    margin:0 auto;
    text-align:center;
    border:1px solid black;
    border-radius:5%;
    padding:20px;
    background:silver;
    text-align:center;
}

.content form label{
    display:block;
    margin:0 auto;
}

.content form input{
    display:block;
    margin:0 auto;
    text-align:center;
}

.content form textarea{
    text-align:center;
}

.homeContainer{
    width:100%;
    margin:0 auto;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.homeContainer a{
    color:rgb(255,255,255);
    text-decoration:none;
}

.homeContainer img{
    max-width:80%;
    height:auto;
    margin:5px auto;
    padding:0;
    border:1px solid black;
}

.portfolioContainer{
    width:100%;
    margin:0 auto;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.portfolioContainer hr{
    width:100%;
    height:20px;
}

.portfolio_item{
    width:100%;
    margin:20px auto;
    padding:0;
    background:rgba(220,220,220,0.8);
    border-top:2px solid rgba(45,45,45,0.3);
    border-bottom:2px solid rgba(45,45,45,0.3);
}

.portfolio_item h3{
    text-transform:uppercase;
    letter-spacing:2px;
    text-decoration:overline;
}

.portfolio_item p{
    width:70%;
    margin:20px auto;
}

.portfolio_item img{
    max-width:80%;
    height:auto;
    margin:5px auto;
    padding:0;
}

#commits{
    display:none;
    width:50%;
    word-wrap:break-word;
    list-style:none;
    border:2px solid black;
    margin:0 auto;
    padding:0;
    overflow:auto;
}

#commits li{
    width:100%;
    margin:0 auto;
    padding:0;
}

#commits li p{
    background:rgb(65,65,65);
    color:rgb(255,255,255);
    font-weight:bold;
    font-family:monospace;
}

.rating{
    display:block;
    direction:rtl;
    float:top;
    clear:both;
    margin:0 auto;
}

 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
 }
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: gold;
    cursor: pointer;
 }
/*++++++++++++++++++Media Queries++++++++++++++++++++*/

@media screen and (max-width:768px){
    #navbarColor01{
        display:none;
    }

    .pageContainer{
        width:100%;
        display:grid;
        grid-template:  "head head" 100px
                        "content content" 1fr
                        "foot foot" 50px
                        / 120px 1fr;
    }

    .head{
        width:100%;
        max-height:100%;
        margin:0;
        padding:0;
    }

    .content{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        margin:50px auto;
        padding:0;
    }

    .foot{
        display:flex;
        flex-direction:row;
        justify-content:center;
        margin:0 auto;
        padding:0;
        height:20px;
        width:100%;
    }

    .foot p{
        width:30%;
        height:20px;
        font-size:12px;
        line-height:35px;
    }

    


}

@media screen and (min-width:769px) and (max-width:991px){

    #navbarColor01{
        display:none;
    }
}

@media screen and (min-width:992px) and (max-width:1199px){
    
}

@media screen and (min-width:1200px){
    
}